header {
    text-align: center;
    background-color: rgb(101, 196, 64);
    margin: 0px 20px;
    color: rgba(0, 4, 255, 0.651);
  }
  h1 {
      font-family: 'Abril Fatface', cursive;
      font-size: 64px;
      background-color: rgb(133, 173, 100);
      color: rgb(14, 36, 230);
      
      
  }
  
  nav {
      font-family: 'Montserrat', sans-serif;
      font-size: larger;
      width: 100%;
      
  }
  
  nav a {
      display: inline-block;
      background-color: #aad2d4;
      margin: 10px;
      
  }
  
  body {
      background-color: rgb(212, 223, 115);
  
  background-attachment: fixed;
  background-size: cover;
  box;
  }
  
  h2 {
      font-size: 48px;
      font-family: 'Pacifico', cursive;
      color: rgb(14, 36, 230);
  }
  
  p, li {
      font-family: 'Montserrat', sans-serif;
      font-size: 14px;
  }
  /*colors*/
  
  .color-container {
      border: 2px solid lightgray;
      margin: 0 20px;
      background-color: rgb(211, 104, 104);
  }
  
  #colors {   
      text-align: center;
      font-family: 'Pacifico', cursive;
  
  }
  
  
  .color-panel {
      text-align: center;
      display: inline-block;
      margin: auto;
      inline-size: auto;
      width: 100%;
  }
  
  .mint {
      background-color: rgb(185, 237, 221) ;
      display: inline-block;
  
  }
  
  .pearl-aqua {
      background-color: hsl(164, 40%, 66%);
      display: inline-block;
  }
  
  .cadet-blue {
      background-color: #569DA2;
      display: inline-block;
      color: white;
  
  }
  
  .teal-blue {
      background-color: hsl(191, 21%, 43%);
      display: inline-block;
      color: rgb(66, 70, 65);
  }
  
  .color-label {
      font-weight: bold;
      font-size: large;
      font-family: 'Montserrat', sans-serif;
  }
  
  .color-hex {
      font-family: 'Montserrat', sans-serif;
      font-style: italic;
  }
  
  .rgb-value, .hsl-value {
      font-family: 'Montserrat', sans-serif;
      font-size: 14px;
  }
  
  /* fonts */
  
  .font-container {
      border: 2px solid lightgray;
      margin: 0 20px;
      background-color: rgb(185, 237, 221);
  }
  #fonts {
      text-align: center;
      font-family: 'Pacifico', cursive;
  }
  
  
  .font-style {
      text-align: center;
      
  
  }
      
  .montserrat {
      font-family: 'Montserrat', sans-serif;
     
      
  }
  
  .font-label {
      text-decoration: underline;
  }
  
  .bold {
      font-weight: bold;
  }
  
  .italic {
      font-style: italic;
  }
  
  .ovo {
      font-family: 'Ovo', serif;
      
  }
  
  .playfair-display {
      font-family: 'Playfair Display', serif;
      
  }
  
  .montserrat, .ovo, .playfair-display {
      display: inline-block;
      margin: auto;
      inline-size: auto;
      width: 33%;
      text-align: center;
      font-size: large;
  }
  
  .textstyles-container {
      border: 2px solid lightgray;
      margin: 0 20px;
      background-color: hsl(164, 40%, 66%);
  }
  #textstyles {
      text-align: center;
      font-family: 'Pacifico', cursive;
  }
  
  .head1, .head2, .paragraph {
      display: inline-block;
      background-color: rgb(212, 224, 222);
       margin:  10px -1px 10px 1px;
      border: 2px solid lightgrey;
     height: max-content;
      padding: 20px 65px;
      
  }